* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 1px 10px 0px #0000001A;
    height: 100px;
}
.menu button{
    border-radius: 5px;
}

.logo {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 39px;
    line-height: 100%;
}

.logo h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 124%;
    letter-spacing: 0%;

}

.logo span {
    color: #FF5300;
}

.menu {
    display: flex;
    gap: 29px;
    align-items: center;
}

.menu a {
    color: #373737;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: 0.5s;
}

.menu a:hover {
    color: #FF5300;
}

.menu button:hover {
    opacity: 70%;
}

.menu button {
    width: 135px;
    height: 50px;
    border: none;
    border-radius: 2px;
    transition: 0.5s;
}

.dark-mode{
    background: #171616;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#list {
    display: none;
}


.list-1 {
    width: 100%;
    min-height: 600px;
    display: flex;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    margin-left: 40px;
}

.title h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 73px;
    width: 602px;
    color: #373737;
}

.title p {
    width: 493px;
    color: #7B7B7B;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.title a {
    display: flex;
    width: 138px;
    height: 30px;
    background: #FF5300;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title span {
    color: #FF5300;
}

.imgs-1 {
    display: flex;
    align-items: center;
    width: 639px;
    height: 429px;
}

.imgs-1 img {
    margin-top: 153px;
}

.list-2 {
    width: 100%;
    display: flex;
    height: 600px;
}

.list-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 0 auto;
}

.title-txt {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-txt a {
    color: #7B7B7B;
}

.title-txt h4 {
    width: 494px;
    font-weight: 600px;
    font-size: 39px;
    line-height: 124%;
    letter-spacing: 0%;
}

.title-txt p {
    width: 469px;
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 151%;
    color: #7B7B7B;
    text-align: left;
}

.title-txt button {
    width: 150px;
    height: 50px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    background: #FF5300;
    border-radius: 4px;
    border: none;
    color: white;
}

.title-txt span {
    color: #FF5300;
}

.list-3 {
    width: 100%;
    display: flex;
    height: 400px;
    justify-content: center;
    gap: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    box-shadow: 0px 1px 10px 0px #0000001A;
    width: 270px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.card p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 151%;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 206px;
    color: #373737;
}

.list-4 {
    height: 800px;
    /* background: #FFF7F4; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    gap: 18px;
    width: 570px;
}

.title-4 span {
    color: #FF5300;
    overflow: hidden;
}

.title-4 h3 {
    font-family: sans-serif;
    overflow: hidden;
    width: 487px;
    font-weight: 600px;
    font-size: 39px;
}

.title-4 p {
    width: 469px;
    font-family: sans-serif;
    overflow: hidden;
    font-weight: 400px;
    font-size: 16px;
    color: #7B7B7B;
}

.title-4 button {
    width: 150px;
    box-shadow: 4px 5px 15px 0px #FF530066;
    background: #FF5300;
    border: none;
    overflow: hidden;
    border-radius: 6px;
    height: 50px;
}

.cards-4 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.cards-5 {
    display: flex;
    margin-top: 83px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}


.card-4 {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    box-shadow: 0px 1px 10px 0px #0000001A;
    gap: 18px;

}

.card-4 h1 {
    font-family: sans-serif;
    font-weight: 700px;
    font-size: 48px;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.card-4 p {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: #7B7B7B;
}

.list-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    min-height: 600px;
    display: flex;
}



.title-5 h4 {
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 40px;
    text-align: center;
    width: 406px;
    margin: 0 auto;
}

.title-5 span {
    color: #FF5300;
}

.cards-55 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}


.card-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
    gap: 24px;
    min-width: 100;
    box-shadow: 2px 1px 10px 12px #0000001A;
    height: 390px;
    transition: 0.5s;
}


.card-5 p {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 20px;
    line-height: 124%;
}

.card-5 span {
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 151%;
    color: #7B7B7B;
}

.card-5 img {
    transition: 0.5s;
}

.card-5:hover {
    margin-top: -40px;
    opacity: 80%;
}

.card-5 img:hover {
    transform: scale(1.05);
}


.list-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    height: 1500px;
}

.title-6 h2 {
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 39px;
    line-height: 124%;
    text-align: center;
    width: 649px;
}

.card-6 img {
    transition: 0.5s;
    /* border-radius: 10px; */
}

.card-6 img:hover {
    transform: scale(1.05);
}

.title-6 span {
    color: #FF5300;
}

.menu-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 43px;
}

.cards-6 {
    display: flex;
    margin-top: 60px;
}

.cards-7 {
    display: flex;
}

.list-7 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 600px;
    text-align: center;
}

.list-7 h4 {
    font-family: sans-serif;
    margin: 0 auto;
    font-weight: 600px;
    font-size: 39px;
    line-height: 124%;
    text-align: center;
    width: 542px;
}

.list-7 h4 span {
    color: #FF5300;
}

.cards-n7 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
    /* align-items: center; */
    /* flex-direction: column; */
}

.card-7 {
    width: 570px;
    height: 294px;
    overflow: hidden;
    box-shadow: 0px 1px 10px 0px #0000001A;
}

.card-txt-7 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 48px;
}

.card-txt-7 p {
    text-align: left;
    font-weight: 500px;
    font-size: 25px;
    line-height: 124%;
    width: 308px;
}

.profile-7 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 330px;
    margin-left: 25px;
    /* justify-content: space-around; */
}

.profile-7 img {
    width: 80px;
    height: 80px;
}

.card-txt-7 p {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 25px;
    line-height: 124%;
}

.profile-txt {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.profile-7 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    line-height: 124%;
    text-align: left;
}

.list-8 {
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.inp-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.sms {
    display: flex;
    gap: 18px;
    flex-direction: column;
    color: #7B7B7B;
}

.sms input::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 151%;
    color: #7B7B7B;
}


.sms input {
    padding-left: 18px;
    box-shadow: 0px 1px 10px 0px #0000001A;
    border: none;
    width: 330px;
    height: 60px;
}

.sms textarea {
    box-shadow: 0px 1px 10px 0px #0000001A;
    border: none;
    width: 670px;
    height: 163px;
    padding: 18px;
}

.sms textarea::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 151%;
    color: #7B7B7B;
}

.sms h4 {
    font-weight: 600px;
    font-size: 31px;
    line-height: 124%;
}

.sms span {
    color: #FF5300;
}

.sms button {
    width: 190px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 15px 0px #FF530066;
    background: #FF5300;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;

}

footer {
    max-width: 1440px;
    height: 419px;
    margin: 0 auto;
    background: #373737;
    display: flex;
    justify-content: center;
}

.footer-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

.footer-title {
    width: 263px;
    height: 233px;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-name {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer-name input {
    width: 170px;
    border: none;
    padding-left: 18px;
    height: 60px;
    background: #50505038;
}

.footer form {
    display: flex;
}

.footer-name form button {
    margin-left: -5px;
    width: 81px;
    height: 60px;
    border: none;
    font-size: 18px;
    background: #FF5300;
    color: white;
}
.icon{
    display: flex;
    gap: 27px;
}
.icon i{
    width: 40px;
    height: 40px;
    background: white;
    color: #FF5300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.footer-title h4 {
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 39px;
    line-height: 124%;
}

.footer-title span {
    color: #FF5300;
}

.footer-title p {
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 151%;
}


/* .program{
    display: flex;
    align-items: center;
    flex-direction: column;
} */

/* .title span {
    color: #FF5300;
} */

@media (min-width:300px) and (max-width:767px) {
    .menu {
        display: none;
    }

    #list {
        display: flex;
        align-items: center;
        font-size: 20px;
        gap: 50px;
        margin: 0 auto;
    }

    header {
        background: #fff;
        width: 100%;
        height: 50px;
    }

    .logo {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .logo h1 {
        font-family: sans-serif;
        font-size: 25px;
        line-height: 124%;
        letter-spacing: 0%;
        text-align: center;
    }


    .list-1 {
        width: 100%;
        display: flex;
        height: 800px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .title {
        margin: 0 auto;
        display: flex;
    }

    .title h4 {
        font-weight: 600px;
        width: 300px;
        font-size: 31px;
        line-height: 124%;
        text-align: center;

    }

    .title a {
        margin: 0 auto;
    }

    .title p {
        font-weight: 400px;
        font-size: 16px;
        line-height: 151%;
        text-align: center;
        width: 323px;
        padding-left: 17px;
        padding-right: 27px;

    }

    .imgs-1 img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 335px;
        margin: 0 auto;
        height: 225px;
    }

    .list-text {
        display: flex;
        margin-top: 90px;
        flex-direction: column;
    }

    .title-txt a {
        margin: 0 auto;
    }

    .title-txt h4 {
        font-weight: 500px;
        font-size: 25px;
        line-height: 124%;
        text-align: center;
        width: 262px;
        margin: 0 auto;
    }

    .title-txt p {
        font-weight: 400px;
        font-size: 16px;
        line-height: 151%;
        letter-spacing: 0%;
        text-align: center;
        width: 323px;
    }

    .title-txt button {
        margin: 0 auto;
    }

    .title-2 img {
        width: 372px;
        height: 192px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin-top: 500px;

    }

    .card-4 {
        width: 343px;
        height: 250px;
    }

    .list-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 2665px;
        background: none;
        flex-direction: column;
    }

    .title-4 h3 {
        font-weight: 500px;
        font-size: 25px;
        line-height: 124%;
        text-align: center;
        width: 262px;
        margin: 0 auto
    }

    .title-4 p {
        font-weight: 400px;
        font-size: 16px;
        line-height: 151%;
        text-align: center;
        width: 323px;
        margin: 0 auto;
    }

    .title-4 button {
        margin: 0 auto;
    }


    .list-5 {
        overflow: hidden;
    }

    .cards-55 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .card-5:hover {
        margin-top: 0px;
        opacity: 100%;
    }

    .card-5 img:hover {
        transform: scale(1.0);
    }

    .title-5 h4 {
        font-family: sans-serif;
        font-weight: 600px;
        font-size: 30px;
        text-align: center;
        width: 286px;
        margin: 0 auto;
    }

    .list-6 {
        width: 100%;
        height: 2600px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .title-6 {
        display: flex;
        flex-direction: column;
    }

    .title-6 h2 {
        font-size: 20px;
        width: 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card-6 img {
        width: 343px;
        height: 370px;
    }

    .cards-6 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .list-7 {
        display: flex;
        flex-direction: column;
    }

    .cards-7 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .cards-n7 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;
    }


    .card-7 {
        width: 296px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 18px;
        height: 220px;
    }

    .card-txt-7 {
        display: flex;
        gap: 10px;
    }

    .card-txt-7 img {
        width: 80px;
        height: 80px;
    }


    .card-txt-7 p {
        /* display: none; */
        width: 170px;
        font-weight: 400px;
        font-size: 16px;
        line-height: 151%;
    }

    .profile-7 {
        display: none;

    }

    .title-7 h4 {
        font-weight: 500px;
        font-size: 25px;
        line-height: 124%;
        text-align: center;
        width: 303px;
    }

    .inp-8 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .inp-8 img {
        width: 261px;
        height: 168px;
        object-fit: cover;
        margin: 0 auto;
    }

    .sms {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .sms h4 {
        width: 180px;
        font-weight: 500;
        font-size: 25px;
        margin: 0 auto;
        line-height: 124%;
        text-align: center;

    }

    .sms input {
        display: flex;
        margin-top: 18px;
        justify-content: center;
        width: 343px;
    }

    .sms textarea {
        width: 343px;
    }
    footer{
        display: none;
    }

}

@media (min-width:768px) and (max-width:1200px) {
    .menu {
        display: flex;
        gap: 25px;
    }

    header {
        box-shadow: 0px 1px 10px 0px #0000001A;
    }

    .menu a {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 151%;
        letter-spacing: 0%;
    }

    .arev {
        display: flex;
    }

    .logo h1 {
        font-family: Work Sans;
        font-weight: 600;
        font-size: 20px;
        line-height: 124%;
        letter-spacing: 0%;
    }


    .title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
    }

    .imgs-1 {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .title h4 {
        font-family: Work Sans;
        font-weight: 600px;
        font-size: 39px;
        line-height: 124%;
        width: 349px;
    }

    .title p {
        font-family: Work Sans;
        font-weight: 400px;
        font-size: 16px;
        line-height: 151%;
        width: 332px;
    }

    .imgs-1 img {
        width: 407px;
        height: 307px;
    }

    .title-2 img {
        width: 372px;
        height: 222px;
    }

    .title-txt h4 {
        font-weight: 600px;
        width: 329px;
        font-size: 31px;
        line-height: 124%;
    }

    .title-txt p {
        font-weight: 400px;
        margin: 0 auto;
        display: flex;
        font-size: 16px;
        line-height: 151%;
        width: 323px;
    }

    .cards {
        display: flex;
        gap: 5px;
    }

    .card {
        height: 230px;
        width: 180px;
    }

    .card p {
        width: 150px;
        font-size: 14px;
        margin: 0 auto;
    }

    .title-4 h3 {
        font-family: sans-serif;
        font-weight: 600px;
        font-size: 31px;
        width: 332px;
        line-height: 124%;
    }

    .title-4 p {
        font-family: sans-serif;
        font-weight: 400px;
        font-size: 16px;
        line-height: 151%;
        width: 331px;
    }

    .card-4 {
        width: 162px;
        height: 150px;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    .list-4 {
        gap: 28px;
        padding: 0 11px;
        overflow: hidden;
        padding: 0 20px;
        background: none;
        display: flex;
    }


    .card-4 h1 {
        font-family: sans-serif;
        font-weight: 500px;
        font-size: 25px;
        line-height: 124%;
    }

    .cards-4 {
        gap: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .cards-55 {
        display: flex;
        flex-wrap: wrap;
    }

    .card-5:hover {
        margin-top: -20px;
        opacity: 100%;
    }

    .card-5 img:hover {
        transform: scale(1.0);
    }

    .card-txt-7 {
        display: flex;
        gap: 10px;
        margin: 0 auto;
        justify-content: space-around;
    }

    .card-7 {
        width: 332px;
        height: 260px;
        display: flex;
        align-items: center;
    }

    .card-txt-7 img {
        width: 80px;
        height: 80px;
    }

    .card-txt-7 p {
        font-weight: 500px;
        font-size: 20px;
        display: flex;
        line-height: 124%;
        width: 217px;
    }

    .profile-7 {
        display: none;
    }

    .sms input {
        width: 185px;
    }

    .sms textarea {
        width: 370px;
        height: 109px;
    }

    .inp-8 img {
        width: 342px;
        height: 181px;
    }
    footer{
        display: none;
    }
}